[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=str
Group=str

WorkingDirectory=/home/str/test/
Environment="PYTHONPATH=/home/str/test/"
ExecStart=/home/str/test/.venv/bin/python /home/str/test/bot_main.py

[Install]
WantedBy=multi-user.target