[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=str
Group=str

WorkingDirectory=/home/str/testtt/
Environment="PYTHONPATH=/home/str/testtt/"
ExecStart=/home/str/testtt/.venv/bin/python /home/str/testtt/bot_main.py

[Install]
WantedBy=multi-user.target